@font-face {
    font-family: NunitoSans-Bold;
    src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
  }
@font-face {
    font-family: NunitoSans-Regular;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  }

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color-light: #EAE9E5;
    --text-color-dark: #050a30;
    --text-color-dark-bg: #305298;
    --text-color-purple: #413f66
}


html body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.header {
    background-color: rgba(77, 14, 237,0.2);
    height: 100%;
    flex: 1;
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
}

.logo {
    max-width: 600px;
}

.title{
    font-family: NunitoSans-Bold;
    font-size: 32px;
    color: var(--text-color-light)
}

.title-dark{
    color: var(--text-color-dark)
}

.description{
    font-family: NunitoSans-Regular;
    font-size: 16px;
    color: #EAE9E5;
    color: var(--text-color-light)
}

.contact {
    font-size: 20px
}

.icon {
    font-size: 1.4rem;
}

.icon-light {
    color: var(--text-color-light)
}

.information {
    color: #e0e6e9;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

.information:hover {
    color: #e0e6e9;
}

.text-title {
    color: var(--text-color-purple);
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight:bolder;
}

.directions {
    list-style-type: none;
    color: var(--text-color-purple);
}

.footer {
    color: var(--text-color-dark);
    background-color: var(--text-color-light);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}